{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "no-console": 0
    },
    "settings": {
        "react": {
          "pragma": "react",
          "version": "16.8"
        }
      
          
      },
      "plugins": [
          "react"
      ]
      
}